<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="example.awarnessapi">

    <!-- Activity recognition permission -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="@string/api_key"/>

        <!-- This key is used for Places API. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key"/>

        <activity
            android:name=".SnapshotApiActivity"
            android:configChanges="orientation|keyboard"/>
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".HeadphoneFenceApiActivity"
            android:configChanges="orientation|keyboard"/>
        <activity android:name=".ActivityFanceApiDemo">
        </activity>
        <activity android:name=".CombineFenceApiActivity">
        </activity>
    </application>

</manifest>